{% extends 'base.html' %}

<!-- Показывает все оценки выбранного нами курса. -->
Сделать так, что после оставления комментария пользователь больше не может оставлять свой комментарий и может смотреть только на свой.

{% block content %}
<div class="container mt-5">
    <section class="program mb-5">
        <div class="row justify-content-center">
            <div class="col-md-8 mb-4 justify-content-start">
                <h4 class="mt-3 mx-4 mb-2">Все отзывы курса:</h4>
                <a class="btn btn-primary mb-3" href="{{ url_for('courses.show', course_id=course.id) }}">Вернуться обратно к курсу</a>
                <form method="POST" action="{{ url_for('courses.all_reviews', course_id=course.id) }}">
                    <label for="review_filter" class="ms-2 mb-1">Фильтры отзывов</label>
                    <div class="row">
                        <div class="col-5">
                            <select id="review_filter" class="form-control ms-2 mb-3" style="width: 300px" name="review_filter">
                                <option value="new" {% if review_filter == "new" %} selected {% endif %}>По новизне</option>
                                <option value="good" {% if review_filter == 'good' %} selected {% endif %}>Сначала положительные</option>
                                <option value="bad" {% if review_filter == 'bad' %} selected {% endif %}>Сначала отрицательные</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-dark w-100">применить</button>
                        </div>
                    </div>
                </form>
                {% for review in reviews %}
                <div class="d-flex">
                    <div class="flex-grow-1 ms-3 border border-dark rounded mt-1 mb-1 pt-1 ps-2">
                        <h5>{{ review.user_id }} {{ review.created_at.strftime("%Y-%m-%d %H:%M") }}</h5>
                        <p>Оценка курса: {{ review.rating }}</p>
                        <p>{{ review.text }}</p>
                    </div>
                </div>
                {% endfor %}



                {% if page > 1 %}
                    <a href="{{ url_for('courses.all_reviews',
                        course_id=course.id,
                        page=page-1,
                        filter=review_filter) }}">
                        ← Назад
                    </a>
                {% endif %}

                <span>Страница {{ page }} из {{ total_pages }}</span>

                {% if page < total_pages %}
                    <a href="{{ url_for('courses.all_reviews',
                        course_id=course.id,
                        page=page+1,
                        filter=review_filter) }}">
                        Вперёд →
                    </a>
                {% endif %}

            </div>
        </div>
    </section>
</div>

{% endblock %}