<!-- Страница, на которой расположен отчёт в виде таблицы о том, 
 какой пользователь заходил на сайт и на какую страницу он зашёл. 
 
 Внизу распологается кнопка скачивания таблицы в формате CSV. 
 -->

 {% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class = "col-md-10 mb-3 justify-content-start">
                <title>Журнал посещения пользователями страниц</title>
                <div>Журнал посещения пользователями страниц</div>
                <a class="btn btn-primary m-2" href="{{ url_for('index') }}"> Перейти на главную страницу</a>
                <table class="table table-bordered m-2 text-center table-hover">
                    <tr>
                        <th>№</th>
                        <th>Пользователь</th>
                        <th>Количество посещений</th>
                    </tr>
                    {% set ns = namespace(counter=0) %}

                    {% for log in all_logs %}
                    {% set ns.counter = ns.counter + 1 %}
                    <tr>
                        <td>{{ ns.counter}}</td>
                        <td>{{ log[0] }}</td>
                        <td>{{ log[1] }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <a class="btn btn-primary m-2" href="{{ url_for('visitor.export_users_csv') }}">Экспорт в CVS</a>
            </div>
        </div>
    </div>
{% endblock%}